<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 需要注意#和$的使用差别 -->

<mapper namespace="com.peter.mybatis.mapper.UserMapper">
	<select id="findUserById" parameterType="int" resultType="com.peter.mybatis.po.User">
		SELECT * FROM user WHERE ID = #{id}
	</select>
	
	<select id="findUserByName" parameterType="String" resultType="com.peter.mybatis.po.User">
		SELECT * FROM user WHERE username like '%${value}%'
	</select>
	
	<insert	id="insertUser" parameterType="com.peter.mybatis.po.User">
	
	<selectKey keyProperty="id" order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO user (id,username,birthday,sex,address) value(#{id},#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<insert	id="insertUserPo" parameterType="com.peter.mybatis.po.UserPo">
	
	<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
		SELECT uuid()
	</selectKey>
		INSERT INTO user_po(id,username,birthday,sex,address) value(#{id},#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		delete from user where id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="com.peter.mybatis.po.User">
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
	</update>
	
</mapper>
