<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 需要注意#和$的使用差别 -->

<mapper namespace="com.peter.mybatis.mapper.UserMapper">


<sql id="query_user_where">
	<if test="userCustom!=null">
				<if test="userCustom.sex!=null and userCustom.sex!=''">
					and user.sex = #{userCustom.sex}
				</if>
				<if test="userCustom.username!=null and userCustom.username!=''">
					and user.username like '%${userCustom.username}%'
				</if>
				<if test="ids!=null">
					<foreach collection="ids" item="user_id" open="AND (" close=")" separator="OR">
						id=#{user_id}
					</foreach>
				</if>
	</if>
</sql>


	<select id="findUserList" parameterType="com.peter.mybatis.po.UserQueryVo" 
			resultType="com.peter.mybatis.po.UserCustom">
		SELECT * FROM user
		<where>
			<include refid="query_user_where"></include>
		</where> 
	</select>


	<select id="findUserById" parameterType="int" resultType="com.peter.mybatis.po.User">
		SELECT * FROM user WHERE ID = #{id}
	</select>
	
	<select id="findUserByName" parameterType="String" resultType="com.peter.mybatis.po.User">
		SELECT * FROM user WHERE username like '%${value}%'
	</select>
	
	<insert	id="insertUser" parameterType="com.peter.mybatis.po.User">
	
	<selectKey keyProperty="id" order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO user (id,username,birthday,sex,address) value(#{id},#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<insert	id="insertUserPo" parameterType="com.peter.mybatis.po.UserPo">
	
	<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
		SELECT uuid()
	</selectKey>
		INSERT INTO user_po(id,username,birthday,sex,address) value(#{id},#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		delete from user where id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="com.peter.mybatis.po.User">
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
	</update>
	
</mapper>
